.container {
  all: unset;
  display: grid;
  place-items: center;
  background-color: #f0cc7f;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;


  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }

  svg {
    width: 19px;
    height: 19px;
  }
}